<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.contlist ul {
    text-align: left !important;
    width: auto;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.box-articoli-hp h3 a:link, .box-articoli-hp h3 a:active, .box-articoli-hp h3 a:visited {
    font-size: 30px;
    text-transform: initial;
    text-decoration: none;
    font-weight: normal;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 28px;
    font-weight: 400;
}
.nofloat {
    clear: both;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.categoria-articolo-label-time {
    left: 0;
    position: absolute;
    top: 200px;
    width: 100%;
}
@media screen and (max-width: 980px)
.contlist ul {
    text-align: center!important;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-padding-start: 0;
}
.contlist {
    position: relative;
    width: 100%;
    display: table;
    text-align: center !important;
}
@media screen and (max-width: 980px) and (min-width: 601px)
.box-articoli-hp p {
    line-height: 16px;
}

.box-articoli-hp p {
    font-size: 12px!important;
}
.box-articoli-hp h1, .box-articoli-hp h3 {
    line-height: 20px;
    height: 65px;
}
.box-articoli-hp {
    margin: 0 6px 10px;
}
.box-articoli-hp .img-articolo {
    background-color: #33cc99;
    margin-bottom: 32px;
    overflow: hidden;
}
.box-articoli-hp {
    position: relative;
    text-align: left;
    width: 100%;
    height: 463px;
    float: left;
    background-color: #fff;
    margin: 0 6px 10px 0;
    max-width: 320px;
}
.contlist ul li {
    padding: 0;
    width: 31%;
    margin: 1%;
}

.contlist ul li {
    display: inline-block;
    margin: 0;
    max-width: 326px;
    padding: 0;
}

.contlist ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-padding-start: 0;
}
.box-articoli-hp a.categoria-articolo-label-link:link, .box-articoli-hp a.categoria-articolo-label-link:active, .box-articoli-hp a.categoria-articolo-label-link:visited {
    background-color: #33cc99;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 113px;
    text-decoration: none;
    float: left;
}
</style>
<div class="contlist">
<ul>
<li>
<div class="box_1 multibox_preview">
<div class="box-articoli-hp">
<div class="box_ss56545">
          <div class="img-articolo">
            <a href="link"><img src="img.jpg" alt="titolo" title="titolo"/></a>
          </div>
          <h3 class="title_articolo">
		  <a href="link">titolo</a></h3>
          <p class="abs-articolo">testo breve <a href="link" class="continua">&nbsp;CONTINUA</a></p>
          <div class="categoria-articolo-label-time">
            <div class="categoria-articolo-label"><a href="link-categoria" class="categoria-articolo-label-link" style="cursor:text">categoria</a></div>
            <div class="nofloat"></div>
          </div>
        </div>
        
      </div></div>
</li>
<!-- secondo-->
<li>
<div class="box_1 multibox_preview">
<div class="box-articoli-hp">
<div class="box_ss56545">
          <div class="img-articolo">
            <a href="link"><img src="img.jpg" alt="titolo" title="titolo"/></a>
          </div>
          <h3 class="title_articolo">
		  <a href="link">titolo</a></h3>
          <p class="abs-articolo">testo breve <a href="link" class="continua">&nbsp;CONTINUA</a></p>
          <div class="categoria-articolo-label-time">
            <div class="categoria-articolo-label"><a href="link-categoria" class="categoria-articolo-label-link" style="cursor:text">categoria</a></div>
            <div class="nofloat"></div>
          </div>
        </div>
        
      </div></div>
</li>
<!-- secondo-->
<li>
<div class="box_1 multibox_preview">
<div class="box-articoli-hp">
<div class="box_ss56545">
          <div class="img-articolo">
            <a href="link"><img src="img.jpg" alt="titolo" title="titolo"/></a>
          </div>
          <h3 class="title_articolo">
		  <a href="link">titolo</a></h3>
          <p class="abs-articolo">testo breve <a href="link" class="continua">&nbsp;CONTINUA</a></p>
          <div class="categoria-articolo-label-time">
            <div class="categoria-articolo-label"><a href="link-categoria" class="categoria-articolo-label-link" style="cursor:text">categoria</a></div>
            <div class="nofloat"></div>
          </div>
        </div>
        
      </div></div>
</li>
<!-- secondo-->
<li>
<div class="box_1 multibox_preview">
<div class="box-articoli-hp">
<div class="box_ss56545">
          <div class="img-articolo">
            <a href="link"><img src="img.jpg" alt="titolo" title="titolo"/></a>
          </div>
          <h3 class="title_articolo">
		  <a href="link">titolo</a></h3>
          <p class="abs-articolo">testo breve <a href="link" class="continua">&nbsp;CONTINUA</a></p>
          <div class="categoria-articolo-label-time">
            <div class="categoria-articolo-label"><a href="link-categoria" class="categoria-articolo-label-link" style="cursor:text">categoria</a></div>
            <div class="nofloat"></div>
          </div>
        </div>
        
      </div></div>
</li>
</ul>
</div>